@if (postMeta) {

<span class="blog-post-published">
  <mat-icon>date_range</mat-icon>
  <span>{{ postMeta.date.slice(0, 10) }}</span>
</span>

@if ((postMeta.categories || []).length > 0) {

<span class="blog-post-categories">
  <mat-icon>folder_open</mat-icon>
  @for (category of postMeta.categories; track category; let last = $last) {

  <a
    class="blog-post-category-link"
    [routerLink]="['/blog/categories', category | slugify]"
    >{{ category }}</a
  >
    @if (!last) {
    <span class="sub-divider px-1">|</span>
    }
  }
</span>

} }
