:host {
  display: block;
  position: fixed;
  margin: 0 24px;
  height: calc(100vh - 64px - 64px - 32px - 20px);
  overflow: scroll;

  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.26);
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.toc-list {
  .toc-item {
    @for $i from 1 through 6 {
      &.level#{$i} {
        padding-left: ($i - 1) * 14px + 12px;
      }
    }
  }
}
