<div class="toc-list flex flex-col">
  <div class="toc-item level0 ml-2 pl-2 font-extrabold border-solid border-0 border-l-4 border-l-[color:var(--toc-indicator-color)] text-[color:var(--toc-header-color)]">文章大綱</div>
  @for (head of headings$ | async; track head.level) {
  <div

    [class.!border-l-[color:var(--toc-indicator-focus-color)]]="head.active"
    [class.!text-[color:var(--toc-indicator-focus-color)]]="head.active"
    class="toc-item level{{head.level}} transition-all text-sm leading-7 ml-2 border-solid border-0 border-l-4 border-l-[color:var(--toc-indicator-color)]">
    <a
      href="#"
      (click)="goTo(head, $event)"
      [class.!text-[color:var(--toc-indicator-focus-color)]]="head.active"
      class="transition-all no-underline text-[color:var(--toc-indicator-color)] hover:text-[color:var(--toc-indicator-focus-color)]"
    >
      {{ head.text }}
    </a>
  </div>
}
</div>
<span class="hidden !border-l-[color:var(--toc-indicator-focus-color)] !text-[color:var(--toc-indicator-focus-color)]"></span>
