@import "../../../../../variables";

:host {
  display: block;
  position: fixed;
  margin: 0 24px;
  height: calc(100vh - 64px - 64px - 32px - 20px);
  overflow: scroll;

  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.26);
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.toc-list {
  display: flex;
  flex-direction: column;

  .toc-item {
    transition: all 0.3s;
    font-size: 14px;
    line-height: 28px;
    margin-left: 8px;
    border-left: 5px solid var(--toc-indicator-color);

    a {
      transition: all 0.3s;
      color: var(--toc-indicator-color);
      text-decoration: none;

      &:hover {
        color: var(--toc-indicator-focus-color);
      }
    }

    &.active {
      border-left-color: var(--toc-indicator-focus-color);

      a {
        color: var(--toc-indicator-focus-color);
      }
    }

    &.level0 {
      padding-left: 12px;
      color: var(--toc-header-color);
      font-weight: 800;
    }

    @for $i from 1 through 6 {
      &.level#{$i} {
        padding-left: ($i - 1) * 14px + 12px;
      }
    }
  }
}
