@import '../../../variables';

:host {
  display: block;
  position: fixed;
  padding-left: 24px;
  padding-right: 24px;
}

.toc-list {
  display: flex;
  flex-direction: column;

  .toc-item {
    transition: all 0.3s;
    font-size: 14px;
    line-height: 28px;
    margin-left: 8px;
    border-left: 5px solid $toc-indicator-color;

    a {
      transition: all 0.3s;
      color: $toc-indicator-color;
      text-decoration: none;

      &:hover {
        color: $toc-indicator-focus-color
      }
    }

    &.active {
      border-left-color: $toc-indicator-focus-color;

      a {
        color: $toc-indicator-focus-color;
      }
    }

    @for $i from 1 through 6 {
      &.level#{$i} {
        padding-left: ($i - 1) * 14px + 12px;
      }
    }


  }
}

