@import '../../variables';

.toolbar {
  position: fixed;
  z-index: 10;

  a.header-link {
    text-decoration: none;

    .header-link-1 {
      color: $header-link-color-1;

      &:hover, &:active {
        color: $header-link-color-1;
      }
    }

    .header-link-2 {
      color: $header-link-color-2;

      &:hover, &:active {
        color: $header-link-color-2;
      }
    }
  }

  .spacer {
    flex: 1 1 auto;
  }

  .search-bar {
    input.search-input {
      height: 36px;
      border-radius: 5px;
      width: 240px;
      font-size: 16px;
      border: 0;
      padding: 8px;
    }
  }
}

.drawer-container {
  top: 64px;
  height: calc(100vh - 64px);
}

::ng-deep {
  .mat-drawer-inner-container {
    &::-webkit-scrollbar {
      height: 4px;
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, .26);
    }
  }
}

.sidebar {
  min-width: 240px;
  max-width: 240px;

  @media (max-width: 959.98px) {
    &.server-sidebar {
      display: none;
    }
  }

  .section-title {
    color: $sidebar-text-color;
    font-size: 20px;
    padding-left: 16px;
  }

  .section-content {
    color: $sidebar-text-color;
    text-align: center;
  }

  .mat-divider {
    margin: 4px 0;
  }

  .post-statics {
    padding: 16px;
    display: flex;

    .statics-block {
      flex: 33%;
      display: flex;
      flex-direction: column;

      a {
        text-decoration: none;
      }

      .counter {
        color: $sidebar-highlight-text-color;
        font-size: 24px;
        text-align: center;
      }

      .description {
        color: $sidebar-text-color;
        font-size: 16px;
        text-align: center;
      }
    }
  }

  .mat-list-item {
    color: $sidebar-text-color;

    .mat-icon {
      padding-right: 8px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.fab {
        font-size: 20px;
      }
    }

    &.active {
      color: $sidebar-highlight-text-color;
      background: $sidebar-highlight-bg-color;
    }
  }
}

.main-content.server {
  margin-left: 240px;
}
