.drawer-container {
  height: calc(100vh - 64px);
}

::ng-deep {
  .mat-drawer-inner-container {
    &::-webkit-scrollbar {
      height: 4px;
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.26);
    }
  }
}

.sidebar {
  @media (max-width: 959.98px) {
    min-width: 320px;
    max-width: 320px;
    &.server-sidebar {
      display: none;
    }
  }
}

.main-content.server {
  margin-left: 240px;
}

@media (max-width: 959.98px) {
  .main-content.server {
    margin-left: 0 !important;
  }
}
