<mat-card appearance="outlined" class="blog-post">
  <mat-card-title class="blog-post-title">
    分類
  </mat-card-title>

  <mat-card-subtitle class="blog-post-subtitle">
    共 {{ ($any(categories$ | async) | keyvalue).length }} 個分類
  </mat-card-subtitle>

  <mat-card-content class="blog-post-content">
    <ul>
      <li *ngFor="let category of $any(categories$ | async) | keyvalue">
        <a [routerLink]="['/blog/categories', $any(category.key || '') | slugify]">
          {{ category.key }}
        </a>
        ({{ $any(category.value).length }})
      </li>
    </ul>
  </mat-card-content>
</mat-card>
