<ng-container *ngIf="postMeta$ | async as postMeta">
  <div class="blog-post-container">
    <div class="blog-post blog-post-overview">
      <div class="blog-post-title">
        <h1>{{ postMeta.title }}</h1>
      </div>

      <div class="blog-post-subtitle">
        <app-blog-post-subtitle [postMeta]="postMeta"></app-blog-post-subtitle>
      </div>

      <mat-divider></mat-divider>

      <div class="blog-post" #content [innerHTML]="postContent$ | async"></div>

      <div class="blog-post-tags">
        <mat-chip-list aria-label="Post Tags">
          <mat-chip
            class="blog-post-tag"
            [routerLink]="['/blog/tags', tag | slugify]"
            color="primary"
            selected
            *ngFor="let tag of postMeta.tags">
            {{ tag }}
          </mat-chip>
        </mat-chip-list>
      </div>

      <div class="blog-post-liker-coin">
        <div>如果您覺得我的文章有幫助，歡迎免費成為 LikeCoin 會員，幫我的文章拍手 5 次表示支持！</div>
        <iframe
          loading="lazy"
          scrolling='no'
          frameborder='0'
          sandbox='allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox allow-storage-access-by-user-activation'
          style="width: 100%;" src='https://button.like.co/in/embed/wellwind/button?referrer=" +
              encodeURIComponent(location.href.split("?")[0].split("#")[0]) + "'></iframe>
      </div>

      <mat-divider></mat-divider>

      <div class="blog-post-prev-next">
        <div class="blog-post-prev">
          <ng-container *ngIf="previousPost$ | async as post">
            <div class="blog-post-prev-next-notify prev">
              <mat-icon>chevron_left</mat-icon>
              上一篇
            </div>
            <ng-container *ngTemplateOutlet="postLink; context: {post: post}"></ng-container>
          </ng-container>
        </div>
        <div class="blog-post-next">
          <ng-container *ngIf="nextPost$ | async as post">
            <div class="blog-post-prev-next-notify next">
              下一篇
              <mat-icon>chevron_right</mat-icon>
            </div>
            <ng-container *ngTemplateOutlet="postLink; context: {post: post}"></ng-container>
          </ng-container>
        </div>

        <ng-template #postLink let-post="post">
          <a
            [routerLink]="post | postDateAsPath">
            {{ post.title }}
          </a>
        </ng-template>
      </div>

      <mat-divider></mat-divider>

      <h1>有任何問題或建議嗎？歡迎留言給我</h1>
      <div class="blog-post-comments" #comments>
        <app-comment class="blog-post-comments"></app-comment>
      </div>
    </div>


    <div class="blog-post-toc">
      <app-blog-post-toc [contentElement]="content"></app-blog-post-toc>
    </div>

    <button mat-fab color="default" class="go-comment" (click)="goComment(comments)" matTooltip="留言">
      <mat-icon>comment</mat-icon>
    </button>

  </div>
</ng-container>

