// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$blog-primary: mat.define-palette(mat.$indigo-palette);
$blog-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$blog-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$blog-theme: mat.define-light-theme((
  color: (
    primary: $blog-primary,
    accent: $blog-accent,
    warn: $blog-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($blog-theme);

/* You can add global styles to this file, and also import other style files */
@import './variables';

html, body {
  height: 100%;
  background: #fafafa;
}

body {
  margin: 0;
  font-family: Roboto, loto, noto sans tc, microsoft yahei, sans-serif;
}

.suggest-item-type {
  font-size: 12px;
  margin-right: 6px;
  color: $secondary-text-color;
}

a {
  color: $default-link-color;
  text-decoration: underline;
  transition: all 0.3s;

  &:hover {
    color: $default-link-hover-color;
    text-decoration: underline;
  }

  &:active {
    color: $default-link-color;
  }
}

.mat-card.blog-post {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.blog-post {
  margin-bottom: 16px;

  .blog-post-title {
    a {
      font-weight: 800;
      color: $post-card-header-link-color;
      text-decoration: none;
      outline: 0;
      transition: all 0.3s;

      &:hover {
        color: $post-card-header-link-hover-color;
      }
    }
  }

  .mat-card-subtitle {
    margin-top: 16px !important;
  }

  .blog-post-subtitle {
    display: flex;
    align-items: center;
    font-size: 14px;

    .sub-divider {
      margin: 0 8px;
    }

    .mat-icon {
      margin-right: 8px;
      position: relative;
      top: -2px;
    }

    .blog-post-published {
      line-height: 24px;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
    }

    .blog-post-categories {
      margin-left: 8px;
      line-height: 24px;
      display: inline-flex;

      .blog-post-category-link {
        font-weight: 500;
      }
    }
  }

  .mat-card-content {
    font-size: 16px;
  }

  .blog-post {
    font-size: 16px;
    line-height: 24px;
    color: $post-card-content-text-color;
  }

  .mat-card-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 0;

    a.read-more {
      &:hover {
        text-decoration: none;
      }
      font-size: 16px;
    }

    .mat-icon {
      position: relative;
      top: -1px;
    }
  }
}

.post-summary-content, .blog-post {
  font-size: 16px;
  line-height: 24px;

  img {
    max-width: calc(100% - 12px);
    padding: 6px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 auto;
  }

  pre {
    font-size: 14px;
    line-height: 21px;
    background: $code-background-color;
    border: .5px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    display: block;
    margin: 16px auto;
    overflow-x: auto;
    white-space: pre-wrap;
  }

  code {
    background: $code-background-color;
    border-radius: 3px;
    padding: 3px;
    word-break: break-word;
  }

  .note {
    background: $note-background-color;
    border: .5px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
    padding: 1em;

    p {
      &:first-child {
        margin-block-start: 0;
      }

      &:last-child {
        margin-block-end: 0;
      }
    }

    &.info {
      border-left: 5px solid $note-info-border-color;
    }

    &.warning {
      border-left: 5px solid $note-warning-border-color;
    }

    &.danger {
      border-left: 5px solid $note-danger-border-color;
    }
  }
}

.blog-post-tags {
  display: flex;
  justify-content: center;

  .blog-post-tag {
    cursor: pointer;
  }
}

.categories-header, .tags-header, .year-header {
  display: flex;
  align-items: baseline !important;
  position: sticky;
  top: 0;
  z-index: 101;
  margin-bottom: 8px;

  h1 {
    font-size: 36px;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
  }

  h2 {
    margin-left: 2px;
    color: $secondary-text-color;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
  }
}

.mat-card.pagination {
  display: flex !important;
  justify-content: center;
}

