@import "@angular/material/theming";

:root {
  $background-color: #ffffff;
  $primary-color: map-get($mat-indigo, 500);
  $primary-text-color: map-get($mat-gray, 900);
  $secondary-text-color: map-get($mat-gray, 500);
  $default-link-color: map-get($mat-indigo, 400);
  $default-link-hover-color: map-get($mat-indigo, 600);
  $sidebar-text-color: map-get($mat-gray, 600);

  --background-color:#{$background-color};
  --primary-color: #{$primary-color};
  --primary-text-color: #{$primary-text-color};
  --secondary-text-color: #{$secondary-text-color};

  // header
  --header-link-color: #ffffff;

  // link
  --default-link-color: #{$default-link-color};
  --default-link-hover-color: #{$default-link-hover-color};

  // post card
  --post-card-header-link-color: #{$primary-text-color};
  --post-card-header-link-hover-color: #{$primary-color};
  --post-card-content-text-color: #{$primary-text-color};

  // sidebar
  --sidebar-text-color: #{$sidebar-text-color};
  --sidebar-highlight-text-color: var(--primary-color);
  --sidebar-highlight-bg-color: #{transparentize($primary-color, 0.85)};

  // sub pages header
  --sub-pages-header-background-color: #{$background-color};

  // post page
  --post-next-prev-text-color: #{$secondary-text-color};

  // page note
  --note-background-color: transparent;
  --note-border-color: rgba(0, 0, 0, 0.2);
  --note-info-indicator-color: #{map-get($mat-indigo, 500)};
  --note-warning-indicator-color: #{map-get($mat-orange, 500)};
  --note-danger-indicator-color: #{map-get($mat-pink, 500)};

  // toc
  --toc-header-color: #{$primary-text-color};
  --toc-indicator-color: #{map-get($mat-gray, 500)};
  --toc-indicator-focus-color: #{$primary-color};

  // code
  --code-text-color: #{$primary-color};
  --code-background-color: #{map-get($mat-gray, 200)};

  // dark theme
  .dark-theme {
    $background-color: #424242;
    $primary-color: map-get($mat-indigo, 200);
    $primary-text-color: map-get($mat-gray, 100);
    $secondary-text-color: map-get($mat-gray, 400);
    $sidebar-text-color: map-get($mat-gray, 400);
    $default-link-color: #D4DAED;
    $default-link-hover-color: lighten($default-link-color, 15%);

    --background-color:#{$background-color};
    --primary-color: #{$primary-color};
    --primary-text-color: #{$primary-text-color};
    --secondary-text-color: #{$secondary-text-color};

    // search
    --search-input-background-color: #{$background-color};
    --search-input-text-color: #ffffff;

    // link
    --default-link-color: #{$default-link-color};
    --default-link-hover-color: #{$default-link-hover-color};
    .search-bar {
      input.search-input {
        color: var(--search-input-text-color);
        background-color: var(--search-input-background-color);
      }
    }

    // post card
    --post-card-header-link-color: #{$primary-text-color};
    --post-card-header-link-hover-color: #{$primary-color};
    --post-card-content-text-color: #{$primary-text-color};

    // sidebar
    --sidebar-text-color: #{$sidebar-text-color};
    --sidebar-highlight-text-color: var(--primary-color);
    --sidebar-highlight-bg-color: #{transparentize($primary-color, 0.55)};

    // sub pages header
    --sub-pages-header-background-color: #424242;

    // post page
    --post-next-prev-text-color: #{$secondary-text-color};

    // page note
    --note-background-color: transparent;
    --note-border-color: rgba(255, 255, 255, 0.3);
    --note-info-indicator-color: #{map-get($mat-indigo, 500)};
    --note-warning-indicator-color: #{map-get($mat-orange, 500)};
    --note-danger-indicator-color: #{map-get($mat-pink, 500)};

    // toc
    --toc-header-color: #{$primary-text-color};
    --toc-indicator-color: #{map-get($mat-gray, 500)};
    --toc-indicator-focus-color: #{$primary-color};

    // code
    --code-text-color: #D4DAED;
    --code-background-color: #{map-get($mat-gray, 800)};
  }
}
